[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = {extras = ["gevent"],version = "*"}
oauthlib = "*"
pyjwt = "~=1.7.1"
redis = "*"
requests = "*"
requests-oauthlib = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
werkzeug = "*"
cryptography = "*"

[dev-packages]
pytest = "*"
nose = "*"
debugpy = "*"
typing-extensions = "*"
chartpress = "*"
pytoml = "*"
black = "*"
pytest-black = "*"
fakeredis = "*"
flake8 = "*"
pytest-flake8 = "*"
pre-commit = "*"
responses = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
