[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
werkzeug = "*"
hypercorn = "*"
oic = "*"
requests = "*"
pyjwt = "*"
redis = "*"
flask-kvsession = "*"
aiohttp = "*"
sparqlwrapper = "*"
responses = "*"
aioresponses = "*"
quart = "<0.11.0"
quart-cors = "<0.3.0"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
nose = "*"
responses = "*"
mockredispy = "*"
aioresponses = "*"
pylint = "*"
ptvsd = "*"
typing-extensions = "*"
chartpress = "==0.3.2"
pytoml = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
