name: CI

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Test
        run: |
          make tests
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
          COVERALLS_SERVICE_NAME: gihub-action
        with:
          file: covprofile
          format: golang
        continue-on-error: true

  publish-images:
    runs-on: ubuntu-latest
    needs:
      - test
    if: "startsWith(github.ref, 'refs/tags/')"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: set up environment variables
        run: |
          echo "GIT_USER=Renku Bot" >> $GITHUB_ENV
          echo "GIT_EMAIL=renku@datascience.ch" >> $GITHUB_ENV
      - name: Push chart and images
        uses: SwissDataScienceCenter/renku-actions/publish-chartpress-images@v1.20.0
        env:
          PLATFORMS: "linux/amd64,linux/arm64"
          DOCKER_USERNAME: ${{ secrets.RENKU_DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.RENKU_DOCKER_PASSWORD }}
      - name: Get image tag
        id: image-tag
        run: |
          echo "image=renku/renku-gateway:$(echo ${GITHUB_REF} | cut -d/ -f3)" >> $GITHUB_OUTPUT
      - name: Scan amalthea-sessions image
        uses: snyk/actions/docker@master
        continue-on-error: true
        with:
          image: ${{ steps.image-tag.outputs.image}}
          args: --file=./Dockerfile --severity-threshold=high --sarif-file-output=gw.sarif
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      - name: Upload Snyk report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: gw.sarif
          category: snyk_amalthea-sessions
